
body {
  margin: 0;
  background: #fff;
  font-family: serif;
}
a, button {
  transition: all 0.2s;
}
a:hover {
  color: #a71818;
  border-bottom: 1px solid #a71818;
}
button:hover {
  background: #a71818;
  color: #fff;
  border-color: #a71818;
}
